

// Buttons

$color1: #fff;
$color2: #000;
$color3: #9CCC3C;
$color4: grey;

  .btn-primary {
    background-color: $color3;
    border: none;
    transition: 1s all;

    &:hover {
      background-color: $color2;
    }
  }

  .btn-link {
    color: $color3;
    text-decoration: none;
    transition: 1s all;

    &:hover {
      color: $color2;
      text-decoration: underline;
    }
  }