// Settings
@import 'settings';

body {


  // HEADER

  .logo {
    margin-top: 20px;

    .head-logo {
      width: 40%;
      height: 20%;
    }
  }

  // Login-envoirement

    main {
      margin: 2.5% 0 7.5% 0;

      .login {

        .login-button {
            margin-top: 10%;
        }

      }
    }

  footer {
    background-color: $color4;
    height: 25px;

    .row {
      color: $color1;

      span {
        height: 20px;
      }

      .tr {
        text-align: right;
      }
    }
  }

  .headerimage {
    h1 {
      text-align: center;
      width: 400px;
      float: right;
      font-size: 20px;

    }
    img {
      width: 300px;
    }
  }
  .contenttext {
    float: left;
    margin-top: 50px;
    width: 80%;
    p {
      font-size: 18px;
    }
  }
  .footertext {
    float: right;
    p {
      font-size: 18px;
      margin-top: 50px;
    }
  }
  .footerimage {
    margin-top: 50px;
  }


}