// Settings
@import 'settings';

body {


  // HEADER

  .logo {
    margin-top: 20px;

    .head-logo {
      width: 40%;
      height: 20%;
    }
  }

  // Login-envoirement

    main {
      margin: 2.5% 0 7.5% 0;

      .login {

        .login-button {
            margin-top: 10%;
        }

      }

      .formreg2 {
        .checkbox {
          margin-right: 10px;
        }

        .extra {
          padding-top: 50px;
          margin-bottom: -50px;
        }
      }
    }

  footer {
    background-color: $color4;
    height: 25px;

    .row {
      color: $color1;

      span {
        height: 20px;
      }

      .tr {
        text-align: right;
      }
    }
  }
}